**/__pycache__
venv
*/scripts
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/tests
LICENSE
README.md
pyproject.toml
.env_sample
*_old*
*.ipynb
.env_sample
logs.log
playbook_trade_news.yml
readme_images
entrypoint.sh
build_and_run.sh
pyproject.toml
